<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>I am a very experienced IBM S370 programmer, programmer analyst, systems analyst, system programmer as well as a Senior IMS and IDMS programmer, analyst, senior system programmer and senior Database Administrator. I also worked as an IDMS System Engineer.
<br>
    I have changed my direction and have moved to web development. I have studied and worked with Most of the major technologies. <br> I am currently working on a large Ruby on Rails project, updating it to run with higher levels of security and restyling it to a more mordern look.</p>
  </div>
    
  <%= source_helper('alert alert-primary blog-sidebar-source') %>
  
  <div class="sidebar-module">
    <% @side_bar_topics.each do |topic| %>
      <p><%= link_to topic.title, topic_path(topic) %></p>
    <% end %>
  </div>
  
  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled social-links">
      <li><a href="https://github.com/RayNawara/"><i class="fab fa-github"></i></a></li>
      <li><a href="https://twitter.com/r_nawara"><i class="fab fa-twitter"></i></a></li>
      <li><a href="https://www.linkedin.com/in/rj-nawara-533797162"><i class="fab fa-linkedin-in"></i></i></a></li>
    </ol>
  </div>
</div>