<section id="about" class="three">
  <div class="inner cover">
  <div class="container">

    <div>
      <h2>About Me</h2>
    </div>

    <%= image_tag("pic08.jpg", height: '550', width: '850') %>

    <p align="justify">I am a very experienced IBM S370 mainframe programmer, programmer analyst, systems analyst, system programmer as well as a Senior IMS and IDMS programmer, analyst, senior system programmer and senior Database Administrator. I also worked as an IDMS System Engineer.

I have changed my direction and have moved to web development.  I have studied and worked with HTML 5, CSS 3 , JavaScript, ES6, JQuery, Bootstrap 4, WordPress, PHP, My SQL, Python, ESlint, Mongo DB, Mongoose, Rest APIs, Security and Authentication, Socket.io, Async/Await and Microsoft Azure.  I have a good knowledge of HTML, CSS, JavaScript, Ruby, Rails, React, Redux, React-Router, Jest, Enzyme, Firebase, GraphQL, Prisma, PostgreSQL, Heroku, GIT and node.js with Express, Mongodb, Mongoose, Postman, Supertest and Expect.  I love to program and I am looking to become the best programmer I can be.
</p>

<header>
<h2>Certificates</h2>
</header>
<div id="row">
<div class="column">
  <a href="images/CCA-Certificate-CSS_Level_1_500x500.jpg">
    <figure>
    <img src="images/CCA-Certificate-CSS_Level_1_200x200.jpg" height="150px" width="150px" alt="">
    <figcaption>CSS 3 Certification</figcaption>
  </figure>
</a></div><a href="images/CCA-Certificate-CSS_Level_1_500x500.jpg">
</a><div class="column"><a href="images/CCA-Certificate-CSS_Level_1_500x500.jpg">
  </a><a href="images/CCA-Certificate-HTML_Level_1_500x500.jpg">
    <figure>
    <img src="images/CCA-Certificate-HTML_Level_1_200x200.jpg" height="150px" width="150px" alt="">
    <figcaption>HTML 5 Certification</figcaption>
  </figure></a>
</div>
<div class="column">
  <a href="images/CCA-Certificate-Javascript_Level_1_500x500.jpg">
    <figure>
    <img src="images/CCA-Certificate-Javascript_Level_1_200x200.jpg" height="150px" width="150px" alt="">
    <figcaption>Javascript Certification</figcaption>
    </figure></a>
</div>
<div class="column">
  <a href="images/CCA-Certificate-PHP_Level_1_500x500.jpg">
    <figure>
    <img src="images/CCA-Certificate-PHP_Level_1_200x200.jpg" height="150px" width="150px" alt="">
    <figcaption>PHP Certification</figcaption>
    </figure></a>
</div>
<div class="column">
  <a href="images/CCA-Certificate-MySQL_Level_1_500x500">
    <figure>
    <img src="images/CCA-Certificate-MySQL_Level_1_200x200.jpg" height="150px" width="150px" alt="">
    <figcaption>MySQL Certification</figcaption>
    </figure></a>
</div>
<div class="column">
  <a href="images/CCA-Certificate-jQuery_Level_1_500x500.jpg">
    <figure>
    <img src="images/CCA-Certificate-jQuery_Level_1_200x200.jpg" height="150px" width="150px" alt="">
    <figcaption>jQuery Certification</figcaption>
    </figure></a>
</div>
<div class="column">
  <a href="images/CCA-Certificate-Python_Level_1_500x500.jpg">
    <figure>
    <img src="images/CCA-Certificate-Python_Level_1_200x200.jpg" height="150px" width="150px" alt="">
    <figcaption>Python Certification</figcaption>
    </figure></a>
</div>
<div class="column">
  <a href="images/nodejs_500x500.jpg">
    <figure>
    <img src="images/nodejs_200x200.jpg" height="150px" width="150px" alt="">
    <figcaption>node.js Certification</figcaption>
  </figure>
</a></div><a href="images/nodejs_500x500.jpg">
</a><div class="column"><a href="images/nodejs_500x500.jpg">
  </a><a href="images/ReactRedux_500x500.jpg">
    <figure>
    <img src="images/ReactRedux_200x200.jpg" height="150px" width="150px" alt="">
    <figcaption>React (with Redux) Certification</figcaption>
    </figure></a>
</div>
<div class="column">
  <a href="images/GraphQL_500x500.jpg">
    <figure>
    <img src="images/GraphQL_200x200.jpg" height="150px" width="150px" alt="">
    <figcaption>GraphQL (with Prisma, PostgreSQL and Advanced Node.js) Certification</figcaption>
    </figure></a>
</div>
<div class="column">
  <a href="images/Ruby_on_Rails_500x500.jpg">
    <figure>
    <img src="images/Ruby_on_Rails_200x200.jpg" height="150px" width="150px" alt="">
    <figcaption>Ruby on Rails (with AWS and MaterializeCSS) Certification</figcaption>
  </figure></a>
</div>
<div class="column">
  <a href="images/Azure_Certificate_500x500.jpg">
    <figure>
    <img src="images/Azure_Certificate_200x200.jpg" height="150px" width="150px" alt="">
    <figcaption>Azure Certification</figcaption>
    </figure></a>
</div>
</div>
</div>
      </div></section>
