<div class="app-card-container">
  <div class="card">

    <h1>Would you like to work together?</h1>

    <hr>

    <div class="row">
      <div class="col-md-4">
        <h3>Office Address</h3>

        <p>4830 W Kennedy Blvd #600, Tampa, FL 33609</p>

        <h3>Phone</h3>

        <p><%= number_to_phone "2146822684" %></p>

        <h3>Email</h3>

        <p><a href="mailto:rjnawara@gmail.com?subject=PortfolioContact" "email me">Email me</a> </p>
      </div>
      <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3524.6506164145285!2d-82.528224384581!3d27.943354221686693!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c2c2e4b96e627f%3A0xd577ddd29c694a88!2s4830%20W%20Kennedy%20Blvd%20%23600%2C%20Tampa%2C%20FL%2033609!5e0!3m2!1sen!2sus!4v1583872898790!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
      </div>
    </div>
  </div>
