<div class="inner cover">
  <h1 class="cover-heading">Welcome!</h1>
  <p class="lead"><header>
            <h2 class="alt">Hi! I'm <strong>Ray Nawara</strong>.</h2>
            <p>Please feel free to view my portfolio web site for information about some of my work.</p>
          </header></p>
  <p class="lead">
    <%= link_to "About Me", about_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>



